on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest  
    steps:
      - name: Checkout 
        uses: actions/checkout@v3
      - name: Login to Docker 
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build imag
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/yara2023040277:latest .
      - name: Push image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/yara2023040277:latest
      - name: Run container
        run: |
          docker run -d -p 8080:3000 --name mycontainer \
          ${{ secrets.DOCKER_USERNAME }}/yara2023040277:latest
